:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --color-secondary-black : rgba(0, 0, 0, 0.05);
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-Poppins :"Poppins", sans-serif;
}

.winter-banner{
     margin-top: 4rem;
     margin-bottom: 2rem;
     background:  rgba(0, 0, 0, 0.256);
     height: 230px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     font-family: var(--font-Poppins);
}
.winter-banner h1{
     font-weight: 500;
}
.winter-banner .header-links{
     color: var(--color-4);
     display: flex;
     gap: 5px;
}
.winter-banner .header-links a{
     color: var(--color-4);
}
.winter-banner .header-links a:hover{
     text-decoration: underline;
}