:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-family-AfacadFlux:"Afacad Flux", sans-serif;
     --font-family2-Poppins :"Poppins", sans-serif;
}
.email-verification-page .email-verification-section{
     height: 85vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 1.5rem;
}
.email-verification-section .varification-title p{
     font-family: var(--font-family-Poppins);
     text-align: center;
     opacity: 0.7;
}
.email-verification-section form{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     justify-content: center;
     align-items: center;
     border: 1px solid rgba(0, 0, 0, 0.055);
     border-radius: 5px;
     width: 380px;
     padding: 1rem 1.5rem;
}
.email-verification-section .email-verficaton-code{
     width: 100%;
}
.email-verification-section .email-verficaton-code label{
     font-family: var(--font-family-Poppins);
     opacity: 0.7;
}

.email-verification-section .email-verficaton-code input{
     font-family: var(--font-family-Poppins);
     border: none;
     border-bottom:1px solid rgba(0, 0, 0, 0.111);
     border-radius: 3px;
     font-size: 1rem;
     outline: none;
     padding: 5px 3px;
     width: 100%;
     font-weight: 400; 
}
.email-verification-section .email-verficaton-code input::placeholder{
     color: rgba(0, 0, 0, 0.261);
}
.email-verification-section .email-verficaton-code .message{
     color:var(--color-4);
     font-family: var(--font-family-Poppins);
     font-size: 0.9rem;
     margin-top: 0.2rem;
}

.email-verification-section .email-verification-btns{
     display: flex;
     justify-content: space-between;
     gap: 1rem;
     width: 100%;
}
.email-verification-section .email-verficaton-resend-btn{
     border-radius: 3px;
     font-family: var(--font-family-Poppins);
     font-size: 1rem;
     border: none;
     color: white;
     background-color: var(--color-4);
     padding: 0.2rem;
     font-weight: 400;
     width: 100%;
}
.email-verification-section .email-verficaton-btn{
     border-radius: 3px;
     font-family: var(--font-family-Poppins);
     font-size: 1rem;
     color: white;
     border: none;
     background-color: green;
     padding: 0.2rem;
     font-weight: 400;
     width: 100%;
     transition: 0.3s;
     cursor: pointer;
}
