:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-family-AfacadFlux:"Afacad Flux", sans-serif;
     --font-family2-Poppins :"Poppins", sans-serif;
}

.login-section{
     height: 80vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: var(--font-family-Poppins);
}
.login-section form{
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     justify-content: center;
     align-items: center;
     border: 1px solid rgba(0, 0, 0, 0.055);
     border-radius: 5px;
     width: 380px;
     padding: 1rem 1.5rem;
}
.login-section .email-fild,.login-section  .password-div{
     display: flex;
     flex-direction: column;
     gap: 0.2rem;
     width: 100%;
}
.login-section .email-fild label,.login-section .password-div label{
     opacity: 0.6;
}
.login-section .email-fild #email::placeholder,
.login-section .password-field input::placeholder{
      color: rgba(0, 0, 0, 0.261);
}
.login-section .email-fild #email{
     font-family: var(--font-family-Poppins);
     border: none;
     border-bottom:1px solid rgba(0, 0, 0, 0.111);
     border-radius: 3px;
     font-size: 1rem;
     outline: none;
     padding: 5px 3px;
     width: 100%;
     font-weight: 400; 
}
.login-section .password-field input{
     border:none;
     border-radius: 5px;
     font-family: var(--font-family2);
     font-size: 1rem;
     outline: none;
     padding: 0.3rem;
     font-weight: 400;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.09);
}
.login-section .password-field{
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom:1px solid rgba(0, 0, 0, 0.111);
     border-radius: 5px;
     width: 100%;
}

.login-section .message{
     color:var(--color-4);
     font-family: var(--font-family-Poppins);
     font-size: 0.9rem;
     margin-top: 0.2rem;
}
.login-section .seePassword-btn{
      border: none;
      background-color: transparent;
      opacity: 0.6;
      outline: none;
      cursor: pointer;
}
.login-section .seePassword-btn i{
     font-size: 1.1rem;
     margin-right: 0.4rem;
}
.login-section .login-btn{
     border-radius: 3px;
     font-family: var(--font-family-Poppins);
     font-size: 18px;
     font-weight: 400;
     color: white;
     outline: none;
     border: none;
     background-color: var(--color-4);
     padding: 0.2rem;
     width: 100%;
     margin-top: 1rem;
     cursor: pointer;
}
.login-section .forgot_singup .forgot_password, 
.login-section .forgot_singup .sing_up{
          border-bottom: 1px solid white;
}
.login-section .forgot_singup .forgot_password:hover, 
.login-section .forgot_singup .sing_up:hover{
          border-bottom: 1px solid ;
}
.login-section .forgot_singup{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     font-size: 15px;
}



