:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-family-AfacadFlux:"Afacad Flux", sans-serif;
     --font-family-Poppins :"Poppins", sans-serif;
     --display-font-section-header : "Courgette", cursive;
}


.cart-page .cart-main{
     padding: 4rem;
     font-family: var(--font-family-Poppins);
}
.cart-page .cart-body{
     display: flex;
     align-items:start;
     justify-content: space-between;
}
.cart-page .cart-table{
     width: 70%;
     /* border: 1px solid; */
}
.cart-page .cart-table table{
     width: 100%;
}
.cart-page .cart-table table thead {
     font-weight: 400;
     font-size: 18px;
     text-align: left;
     background-color: var(--color-4);
     color: white;
     height: 60px;
}
.cart-page .cart-table table, th 
.cart-page .cart-table table, tr {
     border: 1px solid rgba(0, 0, 0, 0.15);
     border-collapse: collapse;
}
.cart-page .cart-table table thead tr th{
     font-weight: 500;
}

.cart-page .cart-table table tbody tr td{
     padding: 0.5rem 0;
     /* border: 1px solid; */
}
.cart-page .cart-subtotal-header{
     padding-right: 30px;
}
.cart-page .cart-price-header{
     padding-right: 30px;
}
.cart-page .remove-data{
     text-align: center;
}
.cart-page .remove-cart-item-btn{
     border: none;
     text-align: center;
     padding: 0.6rem;
     background-color: transparent;
     cursor: pointer;
}
.cart-page .remove-cart-item-btn i{
     font-size: 1rem;
     font-weight: 300;
}
.cart-page .cart-card .product{
     display: flex;
     gap: 1rem;
}
.cart-page .cart-card .product h2{
     font-weight: 500;
     font-size: 1.1rem;
}
.cart-page table tbody .product-details div{
     display: flex;
     gap: 1rem;
}
.cart-page table tbody .product-details div p{
     opacity: 0.9;
}

.cart-page .cart-table-quantity{
     display: flex;
     align-items: center;
     border: 1px solid  rgba(0, 0, 0, 0.157);
     width: 130px;
}
.cart-page .cart-table-quantity .inc-dec-btn{
     border: none;
     height: 100%;
     width: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 1.5rem;
     cursor: pointer;
     background: none;
     /* background-color: rgba(0, 0, 0, 0.257); */
}
.cart-page .cart-table-quantity .inc-dec-btn i{
     font-size: 1.2rem;
     opacity: 0.8;
     padding: 0.5rem 0.7rem;
}
.cart-page .cart-table-quantity input{
     font-size: 1rem;
     border: none;
     text-align: center;
     width:  100%;
     height: 100%;
     outline: none;
}

.cart-page .cart-card img{
     width: 80px;
     height: 80px;
     object-fit: contain;
}
.cart-page .order-summary-table{
     width: 27%;
     border: 1px solid rgba(0, 0, 0, 0.15);
     padding: 1rem;
}
.cart-page .order-summary-table table{
     width: 100%;
}
.cart-page .order-summary-table table thead tr{
     border: none;
}
.cart-page .order-summary-table table thead tr th{
     border-bottom : 1px solid rgba(0, 0, 0, 0.15);
}
.cart-page .order-summary-table  table tbody tr{
     border: none;
}
.cart-page .order-summary-table table thead tr th h3{
     text-align: left;
     font-size: 1.1rem;
     font-weight: 500;
     opacity: 0.9;
     padding-bottom: .8rem;
}

.cart-page .order-summary-table table, tr {
     border: none;
     border-collapse: collapse;
}
.cart-page .order-summary-table table tbody tr{
     height: 35px;
}
.cart-page .order-summary-table .order-summary-table-body{
     padding: 1rem 0;
}

.cart-page .order-summary-table .order-summary-table-name{
     opacity: 0.7;
}
.cart-page .order-summary-table .order-summary-table-value{
     text-align: right;
}
.cart-page .order-summary-table  .order-submit-row{
     border-top: 1px solid rgba(0, 0, 0, 0.092);
     height: 50px;

}
.cart-page .order-summary-table  .order-submit-btn{
     width: 100%;
     border: none;
     margin-top: 0.5rem;
     background-color: var(--color-4);
     padding: 0.6rem 0;
     font-family: var(--font-family-Poppins);
     font-size: 1rem;
     color: white;
     letter-spacing: .5px;
     cursor: pointer;
}

.cart-page .order-summary-table .coupon-code-field tr{
     width: 100%;
     display: flex;
}
.cart-page .order-summary-table .coupon-code-field td{
     border: 1px solid  #d91657dc ;
}
.cart-page .order-summary-table .coupon-code-field input{
     padding: 0.2rem;
     width: 80%;
     border: none;
     font-family: var(--font-family-Poppins);
     outline: none;
     font-size: 1rem;
     opacity: 0.7;
}
.cart-page .order-summary-table .coupon-code-field input::placeholder{
     opacity: 0.5;
     font-weight: 300;
     font-size: 14px;
}
.cart-page .order-summary-table .coupon-code-field button{
     padding: 0.5rem 0.7rem;
     width: 20%;
     border: none;
     font-family: var(--font-family-Poppins);
     font-weight: 400;
     letter-spacing: .5px;
     background-color: #d91657dc;
     color: white;
     cursor: pointer;
}





.cart-page .cart-spinner{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 150px;
     /* border: 1px solid; */
}
.cart-page .empty-message{
     text-align: center;
     font-family: var(--display-font-OpenSans);
}