
.admin_nav_sidebar .admin-nav{
     position: fixed;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0.8rem 4rem;
     z-index: 1000;
     border-bottom: 1px solid #d9165777;
     background-color: #fff;
}
.admin_nav_sidebar .side-bar{
     width: 15%;
     height: 100%;
     position: fixed;
     z-index: 100;
     background-color: #fff;
     padding-top: 65px;
}

.admin_nav_sidebar  .admin-sidebar-close{
     left: 0;
     top: 0;
     transform: translateX(-100%);
     transition: transform 0.2s ease-in-out;
}

.admin_nav_sidebar  .admin-sidebar-control-open{
     transform: translateX(0);
     transition: transform 0.2s ease-in-out;
}

.admin-page{
     padding: 1rem 2rem;
     padding-top: 4.5rem;
     display: flex;
     width: 100%;
     height: 100vh;
     gap: 1.5rem;
     z-index: -10;
}




.admin-page  .admin-setting{
     width:100%;
}

.admin-sidebar-btn{
     padding: 2px 6px;
     background-color: transparent;
     border: 1px solid rgba(0, 0, 0, 0.565);
     border-radius: 3px;
     cursor: pointer;
}
.admin-sidebar-btn i{
     color:rgba(0, 0, 0, 0.565) ;
     font-size: 20px;
}
.admin-nav .back-to-home button {
     border: 1px solid #d9165777;
     padding: 0.2rem 0.6rem;
     font-family: var(--font-family-Poppins);
     font-weight: 500;
     font-size: 1rem;
     color: var(--color-4);
     border-radius: 5px;
     background-color: transparent;
     cursor: pointer;
}