
.admin-page .admin-page-section{
     padding: 1rem 2rem;
     display: flex;
     gap: 1.5rem;
}
.admin-page .admin-page-section .admin-sidebar{
     width: 15%;
     height: 100%;
     /* border: 1px solid; */
     position: fixed;
     left: 0px;
     top: 50px;
     background-color: #fff;
     z-index: 10;
     animation: sidebar-open 0.3s ease-in-out;
}
@keyframes sidebar-open {
     0% {
         left: -350px;
     }
     100% {
         left: 0;
     }
}

.admin-page .admin-page-section .admin-sidebar-control{
     animation: sidebar 0.3s ease-in-out;
     left: -350px;
}

@keyframes sidebar {
     0%{
          left:0px;   
     }
     100%{
          left: -350px;
     }
}

.admin-page .admin-page-section .admin-setting{
     width:100%;
}

.admin-sidebar-btn{
     padding: 2px 6px;
     background-color: transparent;
     border: 1px solid rgba(0, 0, 0, 0.565);
     border-radius: 3px;
     cursor: pointer;
}
.admin-sidebar-btn i{
     color:rgba(0, 0, 0, 0.565) ;
     font-size: 20px;
}

.admin-nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0.3rem 4rem;
     border-bottom: 1px solid #d9165777;
}

.admin-nav .back-to-home button {
     border: 1px solid #d9165777;
     padding: 0.2rem 0.6rem;
     font-family: var(--font-family-Poppins);
     font-weight: 500;
     font-size: 1rem;
     color: var(--color-4);
     border-radius: 5px;
     background-color: transparent;
     cursor: pointer;
}