:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --color-5: #1D7373 ;
     --display-montserrat :"Montserrat", sans-serif;
     --display-Open-Sans : "Open Sans", sans-serif;
     --font-family:"Afacad Flux", sans-serif;
     --font-poppins :"Poppins", sans-serif;

     --platinum: #E1E0E6ff;
     --platinum-2: #D8D5DCff;
     --platinum-3: #DCDBE1ff;
     --french-gray: #CFCCD3ff;
     --platinum-4: #D9D8DEff;
}


.hero-slider-page {
     position: relative;
     height: 100vh;
     overflow: hidden;
     font-family: var(--font-poppins);
   }
  .hero-slider-page .slide {
     position: absolute;
     inset: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     opacity: 0;
     transform: translateX(0);
     transition: opacity 2s ease, transform 2s ease;
     pointer-events: none;
   }
   
  .hero-slider-page .slide img {
     max-width: 100%;
     max-height: 100%;
   }
  .hero-slider-page .slide.active {
     opacity: 1;
     z-index: 2;
     transform: translateX(0);
     
     pointer-events: all;
   }
  .hero-slider-page .slide.previous {
     opacity: 0;
     z-index: 1;
     transform: translateX(0); /* move out slightly */
   }
   .hero-slider-page .content{
    
   }
  .hero-slider-page .content, .image {
     width: 50%;
     text-align: center;
     font-family: var(--font-poppins);
   }
  .hero-slider-page .image {
     height: 100%;
     margin-top: 5%;
     display: flex;
     justify-content: center;
   }
   
  .hero-slider-page .content .left {
     order: 1;
    
   }
  .hero-slider-page .image .left {
     order: 2;
   }
 
  .hero-slider-page .content.right {
     order: 2;
     /* text-align: right; */
   }
   
  .hero-slider-page .image.right {
     order: 1;
   }
   
 
     .hero-slider-page  .content h1{
          font-weight: bold;
          font-size: 3.5rem;
          /* border: 1px solid; */
          margin: 0;
     }
     .hero-slider-page  .content p{
          color: rgb(137, 137, 137);
          margin-bottom: 1rem;
     }
     .hero-slider-page .active  .content h1{
         
         animation: slideFromTop 0.6s ease forwards;
         animation-delay: 0.3s;
         opacity: 0;
     }
     
     .hero-slider-page   .active  .content p{
         animation:  aniamtionPara 0.6s linear forwards;
         animation-delay: 0.3s;
         opacity: 0;
     }
     .hero-slider-page .active .content .display-btn{
         animation: slideFromBottom 0.6s ease forwards;
         animation-delay: 0.3s;
         opacity: 0;
     }
 
     @keyframes aniamtionPara {
         0% {
           opacity: 0;
           transform: translateY(-10px);
         }
         100% {
           opacity: 1;
           transform: translateY(0);
          
         }
     }
     @keyframes slideFromTop {
         0% {
           opacity: 0;
           transform: translateY(-10px);
         }
         100% {
           opacity: 1;
           transform: translateY(0);
           font-weight: bold;
           font-size: 3.5rem;
         }
       }
       
       @keyframes slideFromBottom {
         0% {
           opacity: 0;
           transform: translateY(5px);
         }
         100% {
           opacity: 1;
           transform: translateY(0);
         }
       }
       
       
   
 .hero-slider-page .display-btn{
     font-family: var(--font-family2);
     border: 2px solid var(--color-4);
     border-radius: 5px;
     background-color:transparent;
     padding: 5px 15px;
     color: var(--color-4);
     font-size: 1.3rem;
     font-weight: 500;
     cursor: pointer;
     transition:all 0.5s ease;
}
   
 .hero-slider-page .display-btn:hover{
     background-color: var(--color-4);
     color: white;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}  














