:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --color-secondary-black : rgba(0, 0, 0, 0.05);
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-Poppins :"Poppins", sans-serif;
}

.discount-page{
     display: flex;
     gap: 1.5rem;
     align-items: center;
     padding: 2rem 0;
     font-family: var(--font-Poppins);
}
.discount-page .discount-card{
     /* border: 1px solid; */
     padding: 2rem;
     height: 350px;
}
.discount-page .discount-card .discount{
     font-size: 1.5rem;
     font-weight: 400;
     opacity: 0.9;
}
.discount-page .discount-card .title{
     font-size: 2.5rem;
     font-weight: 600;
     margin: 0.8rem 0;
     line-height: 3.2rem;
}
.discount-page .discount-card .description{
     opacity: 0.7;
}
.discount-page .discount-card button{
   font-size: 1rem;
   padding: 0.8rem 1rem;
   margin-top: 2rem;
   /* color: white; */
   font-weight: 600;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}
.discount-page .discount-card-mens  button{
     background-color: white;
     font-weight: 500;
     font-family: var(--font-Poppins);
     color: var(--color-4);
}
.discount-page .discount-card-womens  button{
   background-color: white;
   font-weight: 500;
   font-family: var(--font-Poppins);
   color: var(--color-4);
}
.discount-page .discount-card-mens{
     background:linear-gradient(to right, #0000ff16, #0000ff09);
     width: 50%;
     overflow: hidden;
     position: relative;
     z-index: 1;
     /* border: 1px solid; */
}
.discount-page .discount-card-mens::before{
     position: absolute;
     content: '';
     top: 0;
     right:-5px;
     width: 100%;
     height: 100%;
     background-image: url('https://i.ibb.co/2Yfc1KcT/sadfsdfa-removebg-preview.png');
     background-position: right;
     background-repeat: no-repeat;
     background-size: contain;
     z-index: -1;
}
.discount-page .discount-card-womens  {
     background: linear-gradient(to right, #ffff0027, #ffff000f);
     width: 50%;
     overflow: hidden;
     position: relative;
     z-index: 1;
}

.discount-page .discount-card-womens::before{
     position: absolute;
     content: '';
     top: 0;
     right: -5px;
     width: 100%;
     height: 100%;
     background-image: url('https://i.ibb.co/84MxY2JZ/asdfsdfsd-removebg-preview.png');
     background-position: right;
     background-repeat: no-repeat;
     background-size: contain;
     z-index: -1;
}
