:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-family-AfacadFlux:"Afacad Flux", sans-serif;
     --font-family-Poppins :"Poppins", sans-serif;
     --display-font-section-header : "Courgette", cursive;
}


.checkout-page .checkout-main{
     padding: 4rem;
     font-family: var(--font-family-Poppins);
}
.checkout-page .checkout-main .shipping-header{
     display: flex;
     align-items: center;
     gap: 0.5rem;
     /* border: 1px solid; */
}
.checkout-page .checkout-main .shipping-header img{
     height: 50px;
     width: 50px;
     margin-bottom: 11px;
     /* border: 1px solid; */

}
.checkout-page .checkout-main .shipping-header h1{
     opacity: 0.8;
     font-weight: 600;
     font-size: 1.7rem;
     margin-top: auto;
}
.checkout-page .checkout-body{
     display: flex;
     align-items:start;
     justify-content: space-between;
}
.checkout-page form{
     width: 70%;
     /* border: 1px solid; */
}
.checkout-page form .input-field{
     display: flex;
     flex-direction: column;
     gap: 1rem;
     margin-top: 1rem;
}
.checkout-page form .input-field label{
     font-weight: 500;
     font-size: 1.1rem;
     opacity: 0.8; 
}
.checkout-page form .mobile-field{
     display: flex;
     gap: 1rem;
     width: 100%;
}
.checkout-page form .mobile-field .input-field{
     width: 50%;
}

.checkout-page form .input-field input,
.checkout-page form .input-field select{
     padding: 0.8rem ;
     font-size: 1rem;
     font-family: var(--font-family-Poppins);
     border: 1px solid rgba(0, 0, 0, 0.083);
     outline: none;
     background-color: transparent;
     opacity: 0.8;
}


.checkout-page .order-summary-table{
     width: 27%;
     border: 1px solid rgba(0, 0, 0, 0.15);
     padding: 1rem;
}
.checkout-page .order-summary-table table{
     width: 100%;
}
.checkout-page .order-summary-table table thead tr{
     border: none;
}
.checkout-page .order-summary-table table thead tr th{
     border-bottom : 1px solid rgba(0, 0, 0, 0.15);
}
.checkout-page .order-summary-table  table tbody tr{
     border: none;
}
.checkout-page .order-summary-table table thead tr th h3{
     text-align: left;
     font-size: 1.1rem;
     font-weight: 500;
     opacity: 0.9;
     padding-bottom: .8rem;
}

.checkout-page .order-summary-table table, tr {
     border: none;
     border-collapse: collapse;
}
.checkout-page .order-summary-table table tbody tr{
     height: 35px;
}
.checkout-page .order-summary-table .order-summary-table-body{
     padding: 1rem 0;
}

.checkout-page .order-summary-table .order-summary-table-name{
     opacity: 0.7;
}
.checkout-page .order-summary-table .order-summary-table-value{
     text-align: right;
}
.checkout-page .order-summary-table  .order-submit-row{
     border-top: 1px solid rgba(0, 0, 0, 0.092);
     height: 50px;

}
.checkout-page .order-summary-table  .order-submit-btn{
     width: 100%;
     border: none;
     margin-top: 0.5rem;
     background-color: var(--color-4);
     padding: 0.6rem 0;
     font-family: var(--font-family-Poppins);
     font-size: 1rem;
     color: white;
     letter-spacing: .5px;
     cursor: pointer;
}

.checkout-page .order-summary-table .coupon-code-field tr{
     width: 100%;
     display: flex;
}
.checkout-page .order-summary-table .check-out-submit td{
     padding: 0;
}
.checkout-page .order-summary-table .coupon-code-field td{
     border: 1px solid  #d91657dc ;
     padding: 0;
}
.checkout-page .order-summary-table .coupon-code-field input{
     padding: 0.2rem;
     width: 80%;
     border: none;
     font-family: var(--font-family-Poppins);
     outline: none;
     font-size: 1rem;
     opacity: 0.7;
}
.checkout-page .order-summary-table .coupon-code-field input::placeholder{
     opacity: 0.5;
     font-weight: 300;
     font-size: 14px;
}
.checkout-page .order-summary-table .coupon-code-field button{
     padding: 0.5rem 0.7rem;
     width: 20%;
     border: none;
     font-family: var(--font-family-Poppins);
     font-weight: 400;
     letter-spacing: .5px;
     background-color: #d91657dc;
     color: white;
     cursor: pointer;
}
.checkout-page .previous-addresses table {
     width: 100%;
     margin: 1rem 0;
}
.checkout-page .previous-addresses table, tr{
     border: 1px solid rgba(0, 0, 0, 0.083);
     border-collapse: collapse;
     
}
.checkout-page .previous-addresses table tr td{
     padding: 1rem 0;
}
.checkout-page .previous-addresses table tr td:nth-child(1){
     padding-left: 1rem;
}
.checkout-page .previous-addresses table .house-name{
     font-size: 1.1rem;
     font-weight: 500;
     opacity: 0.9;
}
.checkout-page .previous-addresses table .house-address{
     opacity: 0.8;
}
.checkout-page .previous-addresses table .edit-address-btn,
.checkout-page .previous-addresses table .delete-address-btn{
     font-size: 1rem;
     font-family: var(--font-family-Poppins);
     font-weight: 500;
     opacity: 0.9;
     padding: 0.3rem 0;
     width: 80px;
     border: 0;
     cursor: pointer;
     background: transparent;
}
.checkout-page .previous-addresses table .delete-address-btn{
     color: red;
}
.checkout-page .previous-addresses table .edit-address-btn{
     color: var(--color-4);
}





