:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-family-AfacadFlux:"Afacad Flux", sans-serif;
     --font-family-Poppins :"Poppins", sans-serif;
     --display-font-section-header : "Courgette", cursive;
}

.order-cancell-modal {
     position: fixed;
     inset: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     background: rgba(0, 0, 0, 0.5);
   }
   
   /* Modal content */
   .order-cancell-modal  .modal-content {
     background: white;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     width: 400px;
     text-align: center;
     font-family: var(--font-family-Poppins);
   }
   
   /* Modal title */
   .order-cancell-modal .modal-title {
     font-size: 1.25rem;
     font-weight: bold;
     margin-bottom: 10px;
     color: red;
   }
   
   /* Modal text */
   .order-cancell-modal  .modal-text {
     color: #555;
     margin-bottom: 20px;
   }
   
   /* Button container */
   .order-cancell-modal  .modal-buttons {
     display: flex;
     justify-content: flex-end;
     gap: 10px;
   }
   
   /* Buttons */
   .order-cancell-modal  .btn-cancel {
     padding: 8px 12px;
     background: #ccc;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .order-cancell-modal .btn-confirm {
     padding: 8px 12px;
     background: var(--color-4);
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
   
   
   
   /* App container */
   .order-cancell-modal  .app-container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
   }


.modal-animate {
     opacity: 0;
     transform: scale(0.9);
     animation: fadeInScale 0.3s ease-out forwards;
   }
   
   @keyframes fadeInScale {
     from {
       opacity: 0;
       transform: scale(0.9);
     }
     to {
       opacity: 1;
       transform: scale(1);
     }
   }
   
   