:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-family-Poppins :"Poppins", sans-serif;
}

.profile-page .main-profile-section{
     min-height: 60vh;
} 
.profile-page .main-profile-section{
     padding: 2rem 4rem;
     display: flex;
     gap: 1.5rem;
}
.profile-page .main-profile-section .user-account-sidebar{
     width: 25%;
}
.profile-page .main-profile-section .user-account-setting{
     width: 75%;
}


