:root {
     --color-1: #0487E2;
     --color-2: #0463CA;
     --color-3: #09B1EC;
     --color-4: #D91656;
     --color-secondary-black : rgba(0, 0, 0, 0.05);
     --display-font-Montserrat :"Montserrat", sans-serif;
     --display-font-OpenSans : "Open Sans", sans-serif;
     --font-Poppins :"Poppins", sans-serif;
}

.footer {
     background-color: var(--color-4);
     color: #fff;
     padding: 4rem 3rem;
     font-family: var(--font-Poppins);
   }
   
   .footer-container {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
   }
   
   .footer-left {
     max-width: 300px;
   }
   
   .footer .logo {
     font-weight: bolder;
     line-height: 2rem;
   }
   
  .footer .logo .logo-x {
     color: white;
     font-size: 3rem;
   }
   .footer .logo .logo-text{
     color: white;
     font-size: 0.8rem;
     font-weight: 400;
   }
   .footer .footer-description {
     font-size: 14px;
     margin: 1rem 0;
     line-height: 1.5;
     font-weight: 300;
     opacity:0.8 ;
   }
   
  .footer .social-media {
     display: flex;
     gap: 1rem;
   }
   .footer .social-media .socialMedia-btn{
     height: 35px;
     width: 35px;
     border: none;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(255, 255, 255, 0.266);
     cursor: pointer;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.447);
}
   .footer .social-media .socialMedia-btn i{
     font-size: 1.1rem;
     color: white;
   }
   
   .footer  .footer-links {
     display: flex;
     gap: 50px;
   }
   
   .footer .footer-column h4 {
     font-size: 18px;
     font-weight: 500;
     margin-bottom: 1rem;
   }
   
   .footer .footer-column ul {
     list-style: none;
     padding: 0;
   }
   
  .footer .footer-column li {
     font-size: 14px;
     margin-bottom: 10px;
     opacity: 0.8;
     font-weight: 300;
     cursor: pointer;
   }
   
   .footer .footer-column li:hover {
     text-decoration: underline;
   }
   
   .footer  .footer-bottom {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-top: 1px solid rgba(255, 255, 255,0.3);
     padding-top: 2rem;
     margin-top: 2rem;
     font-size: 14px;
     opacity: 0.7;
   }
   

   